.beer-detail
  h2.beer-detail-header(style = 'white-space: pre-wrap;')
    | Votre bière est {{ beer.name | uppercase }}
    | de la Brasserie {{ beer.brewery }}

  .beer-detail-content
    .beer-image
      img(ng-src='data:image/jpeg;base64,{{ image }}')

    .description
      h3 Descriptif
      div(ng-bind-html='beer.description | html')
      h3 Type de bière
      div(ng-bind-html='beer.kind | html')
      h3 Pourcentage d'alcool
      div(ng-bind='beer.alcohol + "%"')


// timer(countdown ='30', interval = '1000')
    .progress
//    .progress-bar.progress-bar-info(role = 'progressbar' , aria-valuenow = '{{progressBar}}', aria-valuemin = '0', aria-valuemax = '100', style = 'width: {{progressBar}}%;')
