//TODO hacer girar con i.fa.fa-spin
.text-center #[img#logo(src = '../img/logo.png')]
.text-center #[a(href='#/beer-detail') #[img#panic-button(src='../img/panic-button.png', alt='Click me')]]
h3.text-center(style = 'white-space: pre;')
 | Appuyez sur la bière
 | pour vous laisser conseiller
