.row
  h1.text-center(style = 'white-space: pre;')
    | Votre bière est {{ beer.name | uppercase }}
    | de la brasserie Anadir campo
.row
  .figure.col-xs-5
    img.img-responsive(ng-src='data:image/jpeg;base64,{{ image }}')

  .description.col-xs-7
    div(ng-bind-html='beer.description | html')
    .label.label-warning(ng-show='{{ beer.new }}') NOUVEAU !


timer(countdown ='30', interval = '1000')
  .progress
    .progress-bar.progress-bar-info(role = 'progressbar' , aria-valuenow = '{{progressBar}}', aria-valuemin = '0', aria-valuemax = '100', style = 'width: {{progressBar}}%;')
