/* Fonts
-------------------------------------------------- */
@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/4365.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/4637.ttf');
  font-weight: bold;
  font-style: normal;
}

/* Override bootstrap defaults and add some more
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: bold;
}

h2 {
  font-size: 1.6em;
}

/* Main style
-------------------------------------------------- */
html {}

/**
 * The body covers the device height and width
  *
 * It uses the Century Gothic font, which is a licensed
 * font and thus, should relay on any other when not present
 * in the ./fonts dir.
 */
body {
  /** SIZE **/
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;

  width: 100vw;


  overflow: hidden;
  /** LAYOUT **/
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  /** BOX-MODEL **/
  margin: auto;
  /** FONT **/
  font-family: "Century Gothic", Verdana, sans-serif;
  font-size: 14px;
  /** DISABLE USER SELECTION **/
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-header {
  /** BOX-MODEL **/
  margin: 0;
  padding: 0;
  border: none;
}

.main-content {
  /** SIZE **/
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
    background-color: #EEEEEE;
}

/* Header
-------------------------------------------------- */
.page-header .container {
  /** SIZE **/
  width: 100%;
  max-width: 1000px;

  /** LAYOUT **/
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  align-items: center;
  /** BOX-MODEL **/
  margin: auto;
  padding: 35px 18px 0 18px;
}

.page-header .container .panic-button {
  /** LAYOUT **/
  flex-grow: 1;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  /** BOX-MODEL **/
}

.page-header .panic-button img {
  max-height: 50px;
}

.page-header .panic-button p {
  /** LAYOUT **/
  /** BOX-MODEL **/
  margin-left: 0.5em;
  /** FONT **/
  white-space: pre;
  font-size: small;
  line-height: 1;
}

.page-header .container .logo {
  /** LAYOUT **/
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.page-header .container .logo img {
  /** SIZE **/
  max-height: 70px;
  /** BOX-MODEL **/
  padding-bottom: 10px;
}

/* Content
-------------------------------------------------- */
.main-content .container {
  max-width: 100%;
}

#content #logo {
  max-width: 60%;
  margin: 4em 0 8em 0;
}

#content #panic-button {
  border: 0;
  outline: none;
  max-width: 40%;
}

.beer-detail {
  /** LAYOUT **/
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  /** BOX-MODEL **/
  margin: 40px 50px 0px 50px;
}

.beer-detail .beer-detail-header {
  /** BOX-MODEL **/
  margin-bottom: 45px;
  /** FONT **/
  line-height: 1.5;
  text-align: center;
}

.beer-detail .beer-detail-content {
  /** LAYOUT **/
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}

.beer-detail .beer-image {
  /** SIZE **/
  /** LAYOUT **/
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: stretch;
  /** FONT **/
}


.beer-detail .beer-image img {
  /** SIZE **/
  max-height: 52vh;
  /** LAYOUT **/
}


.beer-detail .description {
  /** SIZE **/
  min-width: 20em;
  max-width: 38em;
  /** LAYOUT **/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /** FONT **/
  text-align: justify;
  /** BOX MODEL **/
  padding-left: 20px;
}

.beer-detail .description h3:first-child {
  margin-top: 0;
}

/* Sticky footer
-------------------------------------------------- */
.footer .container {
  width: 100%;
  padding: 20px 0 10px 0;
  font-size: big;
}


/*********************************************************/
/**
 * At this point; the text is not readable anymore,
 * It has to collapse, and adapt
 */
@media screen and (max-width: 430px) {
  body {
      display: block;
      overflow-y: auto;
  }

  .page-header .container .panic-button {
    margin-bottom: 1em;
    justify-content: center;
  }

  .page-header .container .logo {
    margin-bottom: 1em;
    justify-content: center;
  }

  .beer-detail {
    padding: 0;
  }

  .beer-detail .beer-detail-content {
    flex-wrap: wrap;
  }

  .beer-detail .beer-image {
    max-height: 80vh;
  }

  .beer-detail .description {
    min-width: 15em;
    width: 100%;
    padding: 0;
  }
}
