/* Header
-------------------------------------------------- */
.page-header #logo {
  max-height: 50px;
  margin: 0;
  max-width: 100%;
}

.page-header {
  margin: 10px 10px 10px 10px;
  padding-left: 20px;
}

#panic-button {
  max-width: 40%;
}

/* Content
-------------------------------------------------- */
#logo {
  max-width: 60%;
  margin: 4em 0 8em 0;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.footer .container .text-muted {
  margin: 20px 0;
}
