| #[a(href='#/') #[img(src='http://rlv.zcache.co.uk/404_error_beer_not_found_postcard-rf5d75bb691f94437bfa5dafd6a7b3c8d_vgbaq_8byvr_324.jpg', alt='Back to home')]]
p
| The requested page does not exist, this is probably your fault, you need another beer, dude.
