doctype
html(ng-app = 'eltast')
  head
    title #{title} - El tast
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='ngprogress/ngprogress.css')
    link(rel='stylesheet', href='css/styles.css')
    link(rel='manifest', href='manifests/android-manifest.json')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
  body
    .page-header(ng-show = '$root.showHeader')
      .container
        a.panic-button(href='#/')
          img(src = 'img/panic-button.png' alt = 'panic button')
          p
            | Appuyez ici pour une
            | &nbsp&nbspnouvelle selection
        .logo
          img(src = 'img/logo.png' alt = 'eltast')
        
    #content.main-content
      .container(ng-view)
    footer.footer
      .container
        .text-muted.text-center Fièrement dessiné par El Tast et Spacebar.fr

  script(src='jquery/dist/jquery.min.js')
  script(src='bootstrap/dist/js/bootstrap.min.js')
  //script(src='angular/angular.min.js')
  script(src='angular/angular.js')
  
  //Bootsrap modules
  
  //Angular modules  
  script(src='angular-bootstrap/ui-bootstrap-tpls.min.js')
  script(src='angular-route/angular-route.min.js')
  script(src='angular-file-upload/dist/angular-file-upload.min.js')
  script(src='ngprogress/build/ngprogress.min.js')
  script(src='angular-modal-service/dst/angular-modal-service.min.js')

  //Angular application
  script(src='js/app.js')
  script(src='js/directives.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
