.row
  .col-xs-6
    .btn-group
      .btn #[i.visible.fa.fa-2x(ng-click='switchVisibility()' ng-class='{ "fa-eye text-success": beer.visible, "fa-eye-slash": !beer.visible }')]
      span.h1.noselect {{ beer.name }}
  .col-xs-6.text-right
    .btn-group
      .btn #[.fa.fa-pencil.fa-2x(ng-click='editBeer()')]
      .btn #[i.fa.fa-trash-o.fa-2x(ng-click='deleteBeer()')]
  
  .row.alert.alert-danger.text-center(collapse = 'beer.expireAt === undefined', role = 'alert', style = 'margin: 0; padding: 0; width: 100%; height: 100%')
    h2(style = 'margin: 20px 0 20px 0;') {{ beer.name }} Sera eliminée le {{ beer.expireAt | date : "dd/MM/yyyy 'à' HH'h'mm" }} #[.btn #[i.fa.fa-undo.fa-2x(ng-click='undeleteBeer()')]]
    
 
