.modal.fade
    .modal-dialog
        .modal-content
          .modal-body
            h4 La bière a été correctement inserée
          .modal-footer
            button.btn.btn-default(type='button', ng-click='close(false)', data-dismiss='modal') Entendu
